body {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  background-color: #FFF8F5;
  color: #2A2B2A;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h1 {
  font-family: 'Rubik Spray Paint', cursive;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 40px;
}

.row {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 1 1 570px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card img {
  width: 100%;
  height: 338px;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-content h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.card-content p {
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

@media (max-width: 1200px) {
  .container {
    padding: 40px 50px;
  }
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    gap: 50px;
  }

  .card {
    flex: 1 1 100%;
  }
}
